.container{
    width: 120vh;
    /* width: auto; */
    background-color: darkturquoise;
    /* margin: 30px 0; */
    height: auto;
    box-sizing: border-box;
}
h1{
    text-align: center;
}

.form{
   /* width: 200px; */
  
   

}

.col{
    /* width: 60px; */
}
.main{
    /* padding: 30px; */
}




@media only screen and (max-wiath:800px){
   /* .main{
     display: grid;
     grid-template-columns: 1;
   } */
   .container{
    width: 20%;
   }
    
}